@import "../../node_modules/bootstrap/scss/bootstrap";

li{
  cursor: pointer;
}

.none{
  display: none !important;
}
[class="card-img-top col-lg-4 col-sm-10"]{
  width: 50%;
  height: 100%;
}
@media (max-width: 580px) {
  [class="card-img-top col-lg-4 col-sm-10"]{
    display: block !important;
    width: 100px;
    height: 300px;
  }
}
